html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

.searchBar {
  display: flex;
  width: 22rem;
  height: 3.6rem;
  border: 1px solid lightgray;
}

.sideBar {
  width: 21.55rem;
  height: 37rem;
  border: 1px solid lightgray;
}

.navBar {
  display: flex;
  height: 3.6rem;
  /* width: 73vw; */
  margin-left: 1rem;
}

.wrapper-1 {
  display: flex;
  flex-direction: row;
  border: 1px solid lightgray;
  /* justify-content: space-between; */
}

.wrapper-2 {
  display: flex;
  flex-direction: row;
  border: 1px solid lightgray;
  overflow-x: hidden;
}

.serach-input {
  margin: 1rem;
}

.input-field {
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 3.5vh;
  padding: 0.5rem;
}

.menu {
  margin: 1rem;
  cursor: pointer;
}
.icons {
  width: 1.3rem;
  height: 1.3rem;
}

.toggle-sidebar {
  margin: 1rem;
  cursor: pointer;
}

.right-icons {
  display: flex;
  margin: 1rem;
  justify-content: space-around;
  margin-left: 46rem;
  cursor: pointer;
}

.mleft {
  margin-left: 1.5rem;
}

.inputField {
  margin-left: 4rem;
  margin-top: 2rem;
  height: 80vh;
  width: 67vw;
}
.note-editor {
  display: flex;
  flex-direction: column;
}
textarea {
  flex-grow: 1;
  width: 40rem;
  height: 80vh;
  border: none;
  outline: none;
}
.note-editor input {
  border: none;
  margin-bottom: 2rem;
}
.note-editor input:focus {
  outline: none;
}
